footer.footer 
    .footer__logo
        img(src = '/img/logo-green.png', alt = 'Full logo')

    ul.footer__nav
        li.footer__item
            a(href='#' class='footer__link') Company
        li.footer__item
            a(href='#' class='footer__link') Contact us
        li.footer__item
            a(href='#' class='footer__link') Careers
        li.footer__item
            a(href='#' class='footer__link') Privacy policy
        li.footer__item
            a(href='#' class='footer__link') Terms
    p.footer__copy
        | &copy; by Natours. All rights reserved.     