doctype html
html
  head
   block head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Natours | #{title}
    link(rel='stylesheet', href='/css/style.css')
    link(rel='shortcut icon', type='image/png', href='/img/favicon.png')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900')

  body
   // header
   include _header

   // content
   block content
    h1 This is a placeholder 

   // footer
   include _footer 
   script(src='/js/bundle.js')
